* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #ffff;
}

html body {
  width: 100%;
  height: 100vh;
  background-color: #0f0f0f;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  max-width: 1500px;
  margin: 0 auto;
}

.header-logo {
  width: 144px;
  height: 38px;
}

.header-nav-container {
  display: flex;
  align-items: center;
  gap: 70px;
}

.header-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-nav-list-item {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.header-nav-list-item:hover a {
  color: #ffff;
  transition: 0.5s;
}

.header-nav-list-item a {
  text-decoration: none;
  color: #c4c4c4;
}

.header-contact-button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px 20px;
  background-color: transparent;
  border: 1px solid #ffff00;
  border-radius: 999px;
  cursor: pointer;
  transition: scale 0.2s linear;
}

.header-contact-button:hover {
  background-color: rgb(20, 20, 20);
  scale: 1.04;
  box-shadow: 0 0 10px rgb(255, 255, 0);
}

.header-contact-button-icon {
  width: 20px;
  height: 20px;
}

.header-contact-button-text {
  font-size: 14px;
  font-weight: 600;
  color: #ffff;
  text-transform: uppercase;
}

.main-background-container {
  width: 100%;
  height: 583px;
  background-image: url("../assets/images/main-background.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main-background-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  max-width: 1500px;
  margin: 0 auto;
}

.about-container {
  width: 100%;
  max-width: 532px;
}

.welcome-container {
  width: fit-content;
  padding: 8px 14px;
  background-color: #141414;
  border: 1px solid #212121;
  border-radius: 999px;
}

.welcome-text {
  font-size: 12px;
  color: #ffff00;
  text-transform: uppercase;
}

.about-text-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-text-content h1 {
  font-size: 40px;
  font-weight: 600;
  color: #ffff00;
}

.about-text-content p {
  font-size: 16px;
  font-weight: 300;
  color: #b9b9b9;
}

.developer-image-container {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 350px;
}

.developer-image {
  width: 100%;
  height: 100%;
  border-radius: 999px 0 999px 999px;
}

.download-cv-button {
  margin-top: 18px;
  background-color: transparent;
  border: none;
}

.download-cv-button a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #ffff;
  text-transform: uppercase;
  text-underline-offset: 4px;
  padding: 20px 12px 20px 0px;
}

.download-cv-button:hover a {
  color: rgb(204, 204, 204);
  transition: 0.2s;
}

.main-container {
  width: 100%;
  height: 100%;
  padding: 0 80px;
  max-width: 1500px;
  margin: 0 auto;
}

.technologies-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 120px;
  margin-top: 220px;
}

.technologies-container h2 {
  font-size: 20px;
  font-weight: 600;
  color: #afafaf;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 1px solid #ffff00;
  border-radius: 999px;
  width: fit-content;
}

.technologies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 100px;
  list-style: none;
}

.technologies-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.technologies-list span {
  font-size: 18px;
  font-weight: 600;
  color: #ffff;
  text-transform: uppercase;
}

.technologies-list-icon-container {
  background-color: #262626;
  width: 86px;
  height: 86px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #383838;
  transition: scale 0.2s linear;
}

.technologies-list-icon-container:hover {
  scale: 1.08;
}

.separator {
  min-width: 100%;
  min-height: 1px;
  background-color: #1b1b1b;
  margin-top: 140px;
}

.projects-container {
  margin-top: 180px;
}

.projects-container h3 {
  font-size: 14px;
  font-weight: 600;
  color: #afafaf;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 1px solid #ffff00;
  border-radius: 999px;
  width: fit-content;
}

.projects-container-title {
  font-size: 40px;
  font-weight: 600;
  color: #ffff;
  margin-top: 4px;
}

.projects-container-description {
  font-size: 16px;
  font-weight: 300;
  color: #b9b9b9;
  margin-bottom: 20px;
  max-width: 800px;
}

.projects-container span {
  font-size: 16px;
  font-weight: 300;
  color: #b9b9b9;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
  list-style: none;
}

.projects-list-item {
  padding: 30px;
  width: 100%;
  border: 1px solid #343434;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects-list-item-description-content {
  width: 100%;
  max-width: 440px;
}

.projects-list-item-description-content h4 {
  font-size: 34px;
  font-weight: 400;
  color: #ffff;
  margin-bottom: 12px;
}

.projects-list-item-description-content p {
  font-size: 16px;
  color: #a4a4a4;
}

.projects-list-technologies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  list-style: none;
  margin-top: 26px;
}

.projects-list-technologies li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.projects-list-technologies-icon {
  width: 24px;
  height: 24px;
}

.projects-list-technologies-icon-container {
  background-color: #262626;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #383838;
}

.projects-list-technologies span {
  font-size: 12px;
  font-weight: 600;
  color: #ffff;
}

.separator-projects-list {
  min-height: 320px;
  min-width: 1px;
  background-color: #ffff00;
}

.projects-list-item-image-container {
  width: 450px;
  height: 328px;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid #343434;
  transition: scale 0.2s linear;
}

.projects-list-item-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-list-item-image-container:hover {
  scale: 0.96;
}

.contacts-text-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 240px;
  gap: 22px;
}

.contacts-text-content h3 {
  font-size: 20px;
  font-weight: 600;
  color: #afafaf;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 1px solid #ffff00;
  border-radius: 999px;
  width: fit-content;
}

.contacts-text-content h4 {
  font-size: 16px;
  font-weight: 300;
  color: #b9b9b9;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 140px;
  margin-top: 100px;
}

.contacts-list-item {
  border: 1px dashed #343434;
  padding: 20px;
  border-radius: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 245px;
  max-width: 245px;
  width: 100%;
  transition: scale 0.2s linear;
}

.contacts-list-item:hover {
  scale: 1.04;
  box-shadow: 0 0 20px rgb(255, 255, 0);
}

.contacts-list a {
  text-decoration: none;
}

.contacts-list-item-icon-container {
  background-color: #262626;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #383838;
}

.contacts-list-item-text-content span {
  font-size: 16px;
  font-weight: 600;
  color: #ffff;
}

.contacts-list-item-text-content p {
  font-size: 16px;
  font-weight: 300;
  color: #9e9e9e;
}

.footer {
  width: 100%;
  height: 316px;
  background-image: url("../assets/images/footer-background.png");
  margin-top: 300px;
}

.footer-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 0 80px;
  max-width: 1500px;
  margin: 0 auto;
}

.navigate-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.networks-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.networks-content span {
  font-size: 16px;
  font-weight: 300;
  color: #b6b6b6;
}

.networks-list {
  display: flex;
  gap: 4px;
  list-style: none;
}

.networks-list-item a {
  padding: 12px;
}
